@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');


:root {
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(8.13rem, calc(0.65rem + 2.39vw), 2.50rem);

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
    --base-font: 'AR One Sans', sans-serif;
    --color-fg: #000000;
    --color-bg: #dfdfdf;
    --color-primary: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em)
}

.container {
    width: min(54rem, 100vw - var(--space-xl));
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: var(--space-xl);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
    color: var(--color-fg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    align-items: center;

    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url(../background.jpg);
    background-color: #ffffff;


}

h1 {
    font-size: var(--step-5);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

p {
    font-size: var(--step-0);
}

a {
    font-size: var(--step-0);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a,
a:link,
a:visited {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover,
a:active {
    color: transparent;
    background-color: transparent;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

a:hover::before,
a:active::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hrStyle {
    width: auto;
    height: 0.2rem;
    background-color: #000000;
    border: #000000;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }
  

.nav-link {
    color: black;
}

.navcontent {
    margin: 1rem;
}

.navcontent:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.logo {
    width: 40%;
    object-fit: contain;
    margin-left: 4rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
  }

  .top a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px; /* increase the font size */
    line-height: 50px;
  }

.searchButton {
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search {
    width: 60%;
    position: relative;
    display: flex;
    background-color: #f2f2f2;
    border: 1rem;
    border-radius: 1rem;
}

.searchTerm {
    width: 100%;
    border: 3px solid #f2f2f2;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
    background: #f2f2f2;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    text-align: center;
    color: #f2f2f2;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    display: flex;
    justify-content: center; /* add this line to center the search bar */
  }

.storestuff {
    text-align: center;
    display: flex;
    margin-inline: 6rem;
}

.storePart {
    width: 50%;
    margin: 1rem;
}

.storePartText {
    line-height: 0em;
}

.heartPart {
    width: 50%;
    margin: 1rem;
}

.heartPartText {
    line-height: 0em;
}

.cartPart {
    width: 50%;
    margin: 1rem;
}

.cartPartText {
    line-height: 0em;
}

.ad {
    background-color: #004B2A;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
}

.firstcontentimg {
    max-width: 100%;
    object-fit: cover;
    margin: var(--space-m);
    border-radius: 0.5rem;
}

.firstcontenttext {
    width: 500px;
}

.firstcontent {
    background-color: #ffffff;
    margin-top: var(--space-xl)
}


.heroText {
    margin-top: 5rem;
    margin-bottom: 15rem;
    width: auto;
    text-align: center;
    color: #ffffff;
}

.buttons {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 7rem;
    border: 1px solid #929292;
    border-radius: 0.25rem;
    transition: 0.5s;
    margin: 1rem;
    
}

.buttons:hover {
    background-color: #929292;
    color: #ffffff;
}

.sectionbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.offers {
    background-color: #ffffff;
    padding: 1rem;
    height: 30rem;
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "big big big medium medium"
      "big big big small small"
  }
  
  @media (width < 1200px) {
    .offers {
      height: 50rem;
      grid-template-areas: 
      "big big"
      "big big"
      "medium medium"
      "small small"
    }
  }
  
  .offers > article {
    padding: 1.4rem;
    border: solid 0px transparent;
    border-radius: 4px;
  }
  
  .big {
    grid-area: big;
    background-image: url(../imgs/firstcontentlarg.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .medium {
    grid-area: medium;
    background-image: url(../imgs/northface.png);
    background-position: center;
    background-color: #f0f4f2;
    background-size: contain;
    background-repeat: no-repeat;
    color: #f0f4f2;
  }

  .small {
    background-color: #004B2A;
    color: white;
    padding: 2rem;
  }

  .bestsellerscontainer {
    background-color: #ffffff;
  }
  
  .bestsellers {
    background-color: #ffffff;
    padding-inline: 20rem;
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "small small small small small"
    }

    .bestsellertext {
        text-align: center;
        padding: 1rem;
    }

  .bestserllerpicture {
    align-items: center;
  }


h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width: 400px;
}

.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}

.options-size > ul > li {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.options-size > ul > li:hover {
    background-color: #192a56;
}

.options-colors > ul > li {
    border: none;
}

.options-colors > ul > li:nth-child(1) {
    background-color: #FF1;
}

.options-colors > ul > li:nth-child(2) {
    background-color: #000;
}

.options-colors > ul > li:nth-child(3) {
    background-color: #FB0000;
}

.options-colors > ul > li:nth-child(4) {
    background-color: #FF69B4;
}

.options-colors > ul > li:nth-child(5) {
    background-color: #192a56;
}

.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}