.grid-container {
  display: grid;
  grid-template-columns: repeat(, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.large-square {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: #ccc;
}

.small-square {
  background-color: #ccc;
}

.right-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.right-column .left-square {
  background-color: #ccc;
}

.right-column .right-square {
  background-color: #ccc;
}

.firstcontentimg {
  max-width: 40%;
  object-fit: cover;
  margin: var(--space-m);
  border-radius: 0.5rem;
}

  .firstcontentimg {
    max-width: 100%;
    object-fit: cover;
    margin: var(--space-m);
    border-radius: 0.5rem;
}